@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body
{
	background: #eee;
	font-family: 'Open Sans', sans-serif;
}
.GOSHHelpBox
{
	position: fixed;
	bottom: 10px;
	right: 50px;
	border: 1px solid #CCC;
	border-radius: 15px;
	width: 350px;
	height: 487px;
	background: #fff;
	z-index: 999;
}
.GOSHHelpBox .GOSHHelpBoxHeader
{
	background: #39bd9f;
	padding: 15px;
	font-size: 20px;
	border-radius: 14px 14px 0 0;
	text-align: center;
	color: #FFF;
}
.GOSHHelpBox .GOSHHelpBoxIframe
{
	border: 0;
	width: 100%;
	height: 420px;
}
.GOSHHelpBox .GOSHHelpBoxHeader .goshHelpHeaderMinimize
{
	float: right;
	font-size: 45px;
	cursor: pointer;
	padding: 0px 10px;
	margin-top: -18px;
}
.GOSHButton 
{
	padding: 7px 25px;
	border: 1px solid #CCC;
	background: #39bd9f;
	color: #FFF;
	font-weight: bold;
	font-size: 14px;
	border-radius: 8px;
	height: auto;
	width: auto;
}
.GOSHButton.hide
{
	display: none;
}